Repository juanvallejo97/Sierra-Painting-v1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @your-org/owners, @juanvallejo97, @your-org/docs

docs: add security quick start guide for immediate actions
  SECURITY_QUICK_START.md
Owners: @your-org/owners

fix(functions): correct TypeScript errors in setUserRole
  functions/src/auth/setUserRole.ts
Owners: @juanvallejo97

fix(critical): remove .env from pubspec.yaml assets to prevent secret bundling
  .claude/settings.local.json
  .flutter-plugins-dependencies
  DEBUGGING_REPORT.md
  functions/dist/auth/setUserRole.js
  functions/dist/index.js
  pubspec.yaml
Owners: @your-org/owners, @juanvallejo97

feat(p0): add CI guard for .env bundling + Firestore indexes
  .github/workflows/guard-env.yml
  firestore.indexes.json
Owners: @your-org/owners

docs: add patch playbook execution status tracker
  PATCH_STATUS.md
Owners: @your-org/owners

fix(tests): resolve [core/no-app] error in widget tests
  .husky/pre-commit
  lib/core/env/build_flags.dart
  lib/main.dart
  scripts/run_integration_with_emulators.ps1
  scripts/run_test_local_temp.ps1
  test/flutter_test_config.dart
  test/smoke_login_test.dart
  test/test_harness.dart
Owners: @your-org/owners

fix(test): resolve router_redirect_test failure
  test/widget/router_redirect_test.dart
Owners: @your-org/owners

chore: add test temp directories to .gitignore
  .gitignore
Owners: @your-org/owners

feat(p1): implement telemetry, invoice/estimate creation, network status
  lib/core/privacy/consent_api.dart
  lib/core/services/network_status.dart
  lib/core/telemetry/error_tracker.dart
  lib/core/telemetry/telemetry_service.dart
  lib/features/estimates/data/estimate_repository.dart
  lib/features/estimates/domain/estimate.dart
  lib/features/estimates/presentation/estimates_screen.dart
  lib/features/invoices/data/invoice_repository.dart
  lib/features/invoices/domain/invoice.dart
  lib/features/invoices/presentation/invoices_screen.dart
  lib/features/timeclock/data/timeclock_repository.dart
  lib/metrics/perf_bootstrap.dart
  lib/utils/test_mode_io.dart
  pubspec.lock
  pubspec.yaml
  test/example_uses_fake_db_test.dart
Owners: @your-org/owners

fix(emulators): await useStorageEmulator to fix unawaited_futures warning
  lib/core/firebase_emulators.dart
Owners: @your-org/owners

ci: add normalized test workflow and widget test guard
  .github/workflows/guard-widget-tests.yml
  .github/workflows/tests.yml
Owners: @your-org/owners

test(integration): add Firebase bootstrap smoke test
  integration_test/bootstrap_test.dart
Owners: @your-org/owners

docs: update PATCH_STATUS with completed P1 tasks
  PATCH_STATUS.md
Owners: @your-org/owners

docs: update README with test commands and mock UI improvements
  README.md
  functions/src/auth/__tests__/setUserRole.test.ts
  lib/mock_ui/screens/widget_zoo_demo.dart
Owners: @your-org/owners, @juanvallejo97

fix(test): prevent layout_probe_test from calling main() in CI
  test/layout_probe_test.dart
Owners: @your-org/owners

ci: make integration tests non-blocking for Stage 0
  .github/workflows/tests.yml
Owners: @your-org/owners

ci: lower coverage gate to 20% for Stage 0 baseline
  .github/workflows/tests.yml
Owners: @your-org/owners

feat(p1): add comprehensive security tests (Stage 1 complete)
  .github/workflows/tests.yml
  PATCH_STATUS.md
  functions/src/auth/__tests__/setUserRole.integration.test.ts
  functions/src/test/rules.test.ts
  functions/src/test/storage-rules.test.ts
  test/layout_probe_test.dart
Owners: @your-org/owners, @juanvallejo97

docs: update PATCH_STATUS with Stage 2 progress (Tasks #9-11 complete)
  PATCH_STATUS.md
Owners: @your-org/owners

feat(p2): gate mock UI behind kReleaseMode (Task #13)
  lib/mock_ui/README.md
  lib/mock_ui/main_playground.dart
Owners: @your-org/owners

docs: update PATCH_STATUS with Task #13 completion (Mock UI Gating)
  PATCH_STATUS.md
Owners: @your-org/owners

feat(p2): increase test coverage to 33% (Task #12 partial)
  PATCH_STATUS.md
  scripts/coverage_calc.ps1
  scripts/coverage_gaps.ps1
  test/features/estimates/domain/estimate_test.dart
  test/features/invoices/domain/invoice_test.dart
  test/features/timeclock/domain/time_entry_test.dart
Owners: @your-org/owners

chore: save local changes before branch switch
  .claude/settings.local.json
Owners: @your-org/owners

feat(p3): stage 3 - technical debt & code quality (task #16 naming consistency)
  lib/features/auth/presentation/forgot_password_screen.dart
  lib/features/auth/presentation/login_screen.dart
  lib/features/auth/presentation/signup_screen.dart
  lib/features/auth/view/login_screen.dart
  lib/router.dart
  test/helpers/test_harness.dart
Owners: @your-org/owners

feat(p3): stage 3 - technical debt & code quality (task #16 naming consistency) (#163)
  lib/features/auth/presentation/forgot_password_screen.dart
  lib/features/auth/presentation/login_screen.dart
  lib/features/auth/presentation/signup_screen.dart
  lib/features/auth/view/login_screen.dart
  lib/router.dart
  test/helpers/test_harness.dart
Owners: @your-org/owners

docs: complete P3 tasks and finalize patch playbook (92%)
  PATCH_STATUS.md
  test/widget/router_redirect_test.dart
Owners: @your-org/owners

docs: complete P3 tasks and finalize patch playbook (92%) (#164)
  PATCH_STATUS.md
  test/widget/router_redirect_test.dart
Owners: @your-org/owners

fix(ios): point firebase_options to sierra-painting-staging
  .husky/pre-commit
  CLOCK_IN_OUT_WIRED.md
  assets/config/public.env
  integration_test/clock_in_e2e_test.dart
  lib/core/auth/company_claims.dart
  lib/core/providers/auth_provider.dart
  lib/core/services/idempotency.dart
  lib/core/services/location_service.dart
  lib/core/services/location_service_impl.dart
  lib/core/services/location_service_provider.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/timeclock/data/timeclock_api_impl.dart
  lib/features/timeclock/domain/timeclock_api.dart
  lib/features/timeclock/presentation/providers/timeclock_providers.dart
  lib/features/timeclock/presentation/widgets/location_permission_primer.dart
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
  lib/firebase_options.dart
  lib/router.dart
  web/index.html
Owners: @your-org/owners

feat(ops): add P1 operational documentation and tooling
  .github/workflows/backup_staging.yml
  docs/perf_budgets.md
  docs/runbooks/APP_CHECK.md
  docs/runbooks/ROLLBACK.md
  scripts/perf/check_functions.sh
  scripts/perf/check_web.sh
  tools/backup_firestore.sh
  tools/restore_firestore.sh
Owners: @your-org/owners, @your-org/docs, @juanvallejo97

fix: resolve all flutter analyze errors
  integration_test/clock_in_e2e_test.dart
  lib/core/auth/company_claims.dart
  lib/core/providers/auth_provider.dart
  lib/core/services/location_helper.dart
  lib/features/settings/presentation/company_settings_screen.dart
  lib/features/timeclock/presentation/worker_dashboard_screen_v2.dart
Owners: @your-org/owners

tools(seed): idempotent staging assignment seeder + tracking issue
  .github/issues/analyzer-warnings-cleanup.md
  tools/seed/staging_assignment.ts
Owners: @your-org/owners

docs(monitoring): 7-day staging trial monitoring plan
  docs/STAGING_TRIAL_MONITORING.md
Owners: @your-org/docs

feat(timeclock): add job assignment preview with empty state
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
Owners: @your-org/owners

docs: overnight mission report with go/no-go recommendation
  OVERNIGHT_REPORT_2025-10-13.md
Owners: @your-org/owners

Timeclock/e2e proof (#165)
  .github/issues/analyzer-warnings-cleanup.md
  .github/workflows/backup_staging.yml
  .husky/pre-commit
  CLOCK_IN_OUT_WIRED.md
  OVERNIGHT_REPORT_2025-10-13.md
  assets/config/public.env
  docs/STAGING_TRIAL_MONITORING.md
  docs/perf_budgets.md
  docs/runbooks/APP_CHECK.md
  docs/runbooks/ROLLBACK.md
  integration_test/clock_in_e2e_test.dart
  lib/core/auth/company_claims.dart
  lib/core/providers/auth_provider.dart
  lib/core/services/idempotency.dart
  lib/core/services/location_helper.dart
  lib/core/services/location_service.dart
  lib/core/services/location_service_impl.dart
  lib/core/services/location_service_provider.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/settings/presentation/company_settings_screen.dart
  lib/features/timeclock/data/timeclock_api_impl.dart
  lib/features/timeclock/domain/timeclock_api.dart
  lib/features/timeclock/presentation/providers/timeclock_providers.dart
  lib/features/timeclock/presentation/widgets/location_permission_primer.dart
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
  lib/features/timeclock/presentation/worker_dashboard_screen_v2.dart
  lib/firebase_options.dart
  lib/router.dart
  scripts/perf/check_functions.sh
  scripts/perf/check_web.sh
  tools/backup_firestore.sh
  tools/restore_firestore.sh
  tools/seed/staging_assignment.ts
  web/index.html
Owners: @your-org/owners, @your-org/docs, @juanvallejo97

Update README.md
  README.md
Owners: @your-org/owners

test(e2e): staging validation complete - GO for trial
  artifacts/E2E_VALIDATION_SUMMARY.md
  artifacts/clockin_logs.txt
Owners: @your-org/owners

launch: staging trial go - client onboarding package
  STAGING_TRIAL_LAUNCH.md
Owners: @your-org/owners

docs: executive launch checklist for staging trial
  LAUNCH_CHECKLIST.md
Owners: @your-org/owners

hotfix: fix admin dashboard infinite loading (P0)
  lib/features/admin/data/admin_time_entry_repository.dart
Owners: @your-org/owners

.github/CODEOWNERS:

# Require Platform review for canonical web target
/web/**    @platform-team
# Deprecated paths â€” still require review if someone tries to add them back
/web_react/**  @platform-team
/webapp/**     @platform-team
# Default ownership
*       @your-org/owners

# Optional: narrow ownership examples
/docs/ @juanvallejo97
/functions/ @juanvallejo97
/docs/*  @your-org/docs

---
