Repository juanvallejo97/Sierra-Painting-v1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @your-org/owners, @juanvallejo97, @your-org/docs

.github/CODEOWNERS:

# Require Platform review for canonical web target
/web/**    @platform-team
# Deprecated paths â€” still require review if someone tries to add them back
/web_react/**  @platform-team
/webapp/**     @platform-team
# Default ownership
*       @your-org/owners

# Optional: narrow ownership examples
/docs/ @juanvallejo97
/functions/ @juanvallejo97
/docs/*  @your-org/docs

---

auth: force ID token refresh when claims missing; add refresh button to no-role screen
  lib/core/providers/auth_provider.dart
  lib/router.dart
Owners: @your-org/owners

admin: explicit timeout & refresh-claims action to avoid infinite spinners
  lib/features/admin/data/admin_time_entry_repository.dart
  lib/features/admin/domain/admin_time_repository.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/admin/presentation/exceptions_tab_wiring_guide.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
  lib/features/admin/presentation/widgets/time_entry_card.dart
Owners: @your-org/owners

security: remove temporary admin bypass; rely on companyId claim
  firestore.rules
Owners: @your-org/owners

security: remove debug App Check token from staging build
  web/index.html
Owners: @your-org/owners

docs: add comprehensive verification guide for admin dashboard fix
  ADMIN_DASHBOARD_FIX_VERIFICATION.md
Owners: @your-org/owners

docs: add comment about ReCAPTCHA domain registration
  assets/config/public.env
Owners: @your-org/owners

fix(appcheck): update reCAPTCHA v3 site key for staging domain
  assets/config/public.env
Owners: @your-org/owners

fix(appcheck): enable token auto-refresh for web
  lib/main.dart
Owners: @your-org/owners

fix: break provider deadlock with synchronous companyId/userId providers
  lib/core/auth/user_role.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
Owners: @your-org/owners

feat: add long-load UI feedback with refresh action
  lib/features/admin/presentation/admin_review_screen.dart
Owners: @your-org/owners

debug: add admin plumbing probe for wiring verification
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
Owners: @your-org/owners

fix: rename providers to avoid conflict with company_claims.dart
  android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  lib/core/auth/user_role.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
Owners: @your-org/owners

fix: increase Firestore query timeout and add result limit
  .claude/settings.local.json
  lib/features/admin/data/admin_time_entry_repository.dart
Owners: @your-org/owners

fix: deploy indexes to correct (default) database
  firebase.json
Owners: @your-org/owners

debug: temporarily show ALL statuses (not just pending) for testing
  .claude/settings.local.json
  lib/features/admin/data/admin_time_entry_repository.dart
Owners: @your-org/owners

admin: align query with new index; enforce hard timeout with Future.any
  ADMIN_DASHBOARD_FINAL_ESCALATION.md
  firestore.indexes.json
  lib/features/admin/data/admin_time_entry_repository.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
Owners: @your-org/owners

admin: add ENV switch to fall back to status-filtered query in emergencies
  lib/features/admin/data/admin_time_entry_repository.dart
Owners: @your-org/owners

debug: add single-doc read probe to distinguish rules vs. index issues
  lib/features/admin/data/admin_time_entry_repository.dart
Owners: @your-org/owners

debug: enable Firestore web logging in debug builds
  lib/main.dart
Owners: @your-org/owners

docs: add comprehensive production deployment summary for admin dashboard fix
  ADMIN_DASHBOARD_FIX_SUMMARY.md
Owners: @your-org/owners

admin: force ID-token refresh if claims missing; already have no .future waits and hard timeouts
  lib/core/auth/user_role.dart
Owners: @your-org/owners

docs: add comprehensive staging verification checklist
  STAGING_VERIFICATION_CHECKLIST.md
Owners: @your-org/owners

Admin/final debug harden (#167)
  STAGING_VERIFICATION_CHECKLIST.md
  lib/core/auth/user_role.dart
Owners: @your-org/owners

admin(nav): add /admin/home and explicit /admin/review routes
  lib/features/admin/presentation/admin_home_screen.dart
  lib/router.dart
Owners: @your-org/owners

analytics(admin): track navigation and token refresh events
  .claude/settings.local.json
  .flutter-plugins-dependencies
  android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  lib/core/auth/user_role.dart
  lib/features/admin/data/admin_time_entry_repository.dart
  lib/features/admin/presentation/admin_home_screen.dart
  lib/features/admin/presentation/admin_review_screen.dart
Owners: @your-org/owners

test(admin): add smoke tests for admin screens
  test/features/admin/presentation/admin_home_screen_test.dart
  test/features/admin/presentation/admin_review_screen_test.dart
Owners: @your-org/owners

refactor: complete Master Debug Blueprint patch (14/15 tasks)
  MANUAL_SMOKE_TEST_GUIDE.md
  PATCH_IMPLEMENTATION_COMPLETE.md
  integration_test/e2e_demo_test.dart
  integration_test/offline_queue_test.dart
  integration_test/timeclock_geofence_test.dart
  lib/core/auth/user_role.dart
  lib/core/logging/release_logger.dart
  lib/core/providers/firestore_provider.dart
  lib/core/services/error_tracker.dart
  lib/features/admin/data/admin_time_entry_repository.dart
  lib/features/admin/presentation/admin_home_screen.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
  lib/features/timeclock/presentation/worker_dashboard_screen_v2.dart
  pubspec.lock
  pubspec.yaml
  test/features/admin/presentation/admin_review_screen_test.dart
Owners: @your-org/owners

fix(ci): mark coverage gate as non-blocking for v1-rc.1
  .github/workflows/tests.yml
Owners: @your-org/owners

fix(ci): mark npm-audit as non-blocking for v1-rc.1
  .github/workflows/security-scan.yml
Owners: @your-org/owners

feat(web): add favicon.ico and proper icon links
  web/favicon.ico
  web/index.html
  web/manifest.json
Owners: @your-org/owners

refactor(timeclock): remove dead code from worker_dashboard_screen_v2
  lib/features/timeclock/presentation/worker_dashboard_screen_v2.dart
Owners: @your-org/owners

refactor(admin): remove dead code from time_entry_card
  lib/features/admin/presentation/widgets/time_entry_card.dart
Owners: @your-org/owners

ci(tests): add HTML coverage report generation
  .github/workflows/tests.yml
Owners: @your-org/owners

fix(functions): sync package-lock.json with package.json
  functions/package-lock.json
Owners: @juanvallejo97

feat(ui): ship-today UI overhaul - fix logout, routes, guards & A11y
  NAV_QA_CHECKLIST.md
  UI_ROUTER_CHANGELOG.md
  lib/core/providers.dart
  lib/core/widgets/admin_scaffold.dart
  lib/features/admin/presentation/admin_home_screen.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/estimates/presentation/estimates_screen.dart
  lib/features/invoices/presentation/invoices_screen.dart
  lib/features/invoices/presentation/providers/invoice_list_provider.dart
  lib/features/jobs/presentation/jobs_screen.dart
  lib/features/settings/settings_screen.dart
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
  lib/router.dart
  test/app/router_smoke_test.dart
  test/router_smoke_test.dart
Owners: @your-org/owners

chore: update Claude settings
  .claude/settings.local.json
Owners: @your-org/owners

feat(ux): complete UX Part 2 - invoices, employees, assignments & worker schedule
  .claude/settings.local.json
  .flutter-plugins-dependencies
  DEMO_GUIDE.md
  IMPLEMENTATION_COMPLETE.md
  UX_PART2_IMPLEMENTATION_SUMMARY.md
  ios/Flutter/flutter_export_environment.sh
  lib/core/services/logger_service.dart
  lib/core/widgets/admin_scaffold.dart
  lib/core/widgets/logout_dialog.dart
  lib/core/widgets/worker_scaffold.dart
  lib/features/employees/data/employee_repository.dart
  lib/features/employees/domain/employee.dart
  lib/features/employees/presentation/employee_new_screen.dart
  lib/features/employees/presentation/employees_list_screen.dart
  lib/features/employees/presentation/providers/employee_list_provider.dart
  lib/features/invoices/data/invoice_repository.dart
  lib/features/invoices/domain/invoice.dart
  lib/features/invoices/presentation/invoice_create_screen.dart
  lib/features/invoices/presentation/invoice_detail_screen.dart
  lib/features/invoices/presentation/invoices_screen.dart
  lib/features/invoices/presentation/providers/invoice_form_provider.dart
  lib/features/invoices/presentation/widgets/invoice_list_item.dart
  lib/features/jobs/presentation/job_assign_screen.dart
  lib/features/jobs/presentation/providers/jobs_providers.dart
  lib/features/schedule/presentation/worker_schedule_screen.dart
  lib/features/timeclock/presentation/widgets/gps_status_dialog.dart
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
  lib/router.dart
  test/features/invoices/data/invoice_repository_test.dart
  test/features/invoices/domain/invoice_test.dart
Owners: @your-org/owners

chore: add Firestore indexes for employees, assignments, and invoices collections
  firestore.indexes.json
Owners: @your-org/owners

docs: add final checks summary report
  FINAL_CHECKS_SUMMARY.md
Owners: @your-org/owners

chore: save WIP changes before PR
  .claude/settings.local.json
  DEBUG_BLUEPRINT_FINAL_REPORT.md
  EXTRA_AUDIT.md
  LOGIC_AUDIT.md
  PRODUCTION_READY_REPORT.md
  PROGRESS_SUMMARY.md
  extra_issues.json
  final_checks.json
  firestore.rules
  functions/eslint.config.cjs
  functions/package-lock.json
  lib/app/router_facade.dart
  lib/core/app_check_boot.dart
  lib/core/money/money.dart
  lib/core/services/logger_service.dart
  lib/core/widgets/admin_scaffold.dart
  lib/core/widgets/worker_scaffold.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/auth/presentation/login_screen.dart
  lib/features/employees/presentation/employee_new_screen.dart
  lib/features/employees/presentation/employees_list_screen.dart
  lib/features/estimates/presentation/estimates_screen.dart
  lib/features/invoices/presentation/invoice_create_screen.dart
  lib/features/invoices/presentation/invoices_screen.dart
  lib/features/jobs/presentation/jobs_screen.dart
  lib/features/jobs/presentation/widgets/assignment_picker_dialog.dart
  lib/features/timeclock/presentation/providers/timeclock_providers.dart
  lib/main.dart
  lib/router.dart
  logic_issues.json
  pubspec.lock
  pubspec.yaml
  test/a11y/iconbutton_tooltip_test.dart
  test/core/money/money_test.dart
  tools/headers_check.sh
  web/index.html
Owners: @your-org/owners, @juanvallejo97
